/node_modules

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/TestResults
/TestData
/TestData/Logs/
/TestResults/Reports
/TestResults/Videos
/test-results
/error-screenshots
/allure-report
/allure-results
/mobile-env.json

# Auth state
storageState.json
storageState.json

env-details.txt
globalTestData.json
